<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">NEW PRODUCT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form">
          <div class="form-group">
            <label for="productName">Name</label>
            <input class="form-control" id="productName" name="name" placeholder="Product name" required />
          </div>
          <div class="form-group">
            <label for="productUrl">Url</label>
            <input class="form-control" id="productUrl" name="url" placeholder="Product url" required />
          </div>
          <div class="form-group">
            <label for="password">Pin</label>
            <input type="password" class="form-control" name="pin" id="password" placeholder="Pin" required />
          </div>
          <div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cancel
            </button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>