<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Glass</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
    body {
        padding-top: 50px;
    }
</style>