<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

    <body class="container">
        <main >
            <h1 class="w-75 m-auto">Go away!!!</h1>
        </main>

    </body>
    
</html>