<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

    <body class="container">
        <main>
            <h2>PRODUCT</h2>
        </main>

    </body>
    
</html>